body {
    margin: 0;
    background-color: #e2d8e7;
}

#fale-comigo {
    padding: 10px;
    background-color: #e2d8e7;
    margin: 0;
}

#sobre-mim {
    padding-top: 5px;
    padding-left: 20px;
    background-color: rgb(158, 255, 255);
    margin-bottom: 0;
    padding-bottom: 20px;
}

p {
    text-align: justify;
    padding-right: 30px;
}

#fale-comigo ul a {
    text-decoration: none;
    color: black;
}

img {
    width: 150px;
    height: 150px;
}